body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h2 {
    background-color: rgb(116, 116, 116);
    color: rgb(255, 0, 0);
    padding: 10px;
    display: inline-block;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: lightgreen;
}